
            <section class="section-page">
                <div id="add-todo">
                    <form method="POST" action="/api/todos" id="add-todo">
                        <input type="text" name="todoText" id="todoText" placeholder="Create a new todo item... "><input type="submit" value="+">
                    </form>
                </div>
            </section>