<form class="form" method="post" id="join-form"> <!-- no method post here => default = GET -->
    <!-- <div class="input-group success"> -->
    <div class="input-group">
        <input type="name" name="name" id="name" placeholder="👤 Type your name here...">
        <span class="msg">Valid email</span>
    </div>
    <!-- <div class="input-group error"> -->
    <div class="input-group">
        <input type="password" name="password" id="password" placeholder="👓 Type your password here...">
        <span class="msg">Incorrect password</span>
    </div>
    <input type="submit" value="Go to your Todo list 🕶" class="enter-button">
</form>