<%- include("./partials/header") %>


<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ToDo app</a>
    </div>
</nav>

<div class="container mt-5">
    <form action="/add" method="post" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Entire your task here">
        <input type="submit" value="Add task" class="btn btn-m btn-primary mx-5">
    </form>

    <ul class="list-group my-5">
        <li class="list-group-item">TYTTT</li>
    </ul>
</div>



<%- include("./partials/footer") %>