<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo application</title>
    <link rel="stylesheet" type="text/css" href="../public/css/join.css">
</head>
<body>
    <div class="welcome-container">
        <div class="login-container">
            <h1 class="login-title">Hey there, how you doing? </h1>
            <form class="form" action="/enter" method="post"> <!-- no method post here => default = GET -->
                <!-- <div class="input-group success"> -->
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="email">
                    <span class="msg">Valid email</span>
                </div>
                <!-- <div class="input-group error"> -->
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="password">
                    <span class="msg">Incorrect password</span>
                </div>
                <input type="submit" value="ENTER" class="register-button">
            </form>
        </div>
    </div>
</body>
</html>