<%- include('parts/_enterHeader') %>

        <div class="main-container">
            <div class="login-container">
                <h1 class="login-title">Hey there, how are you?</h1>
                <%- include('parts/_enterForm') %>
            </div>
        </div>

    </body>
</html>